@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Kalam:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Devonshire&family=Krona+One&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

:root {
   --color-1: #aaa9ad;
   --color-2: #000;
   --color-3:#bc47ff;
   --color-4:#d461fa;
   --color-5:#5c0b8e;
   --color-6:#2b0542;
   --color-7:#ffff;
   --color-8:#fe86e0;
   --color-9: #9075ba;
   --color-10: #DBC9F5;
   --font-1: "Devonshire", sans-serif;
   --font-2: "Caveat", sans-serif;
   --font-3: "Kalam", sans-serif;
   --font-4: "Krona One", sans-serif;
}

body {
        display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 1;
    background: linear-gradient(to right, #9075ba, #DBC9F5);   
    align-items:self-end;    
}

main {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: self-end;
    justify-content: center;
    width: 100%;
    padding: 0.2rem; 
}
.titulo1, .texto_subtitulo {
    font-family: var(--font-1);
    color: var(--color-2);
}

.titulo1 {
    font-size: 2rem;
    color: var(--color-2);
    font-weight: 400;
    text-align: center;
    width: 50%;
}

.texto_subtitulo {
    font-size: 1.4rem;
    color: var(--color-6);
    font-weight: 600;
    text-align: center;
    width: 50%;
}

.parrafo__inicial {
    font-family: var(--font-2);
    font-size: 1.9rem;
    font-weight: 900;
    -webkit-text-stroke: 0.5px white;
    color: var(--color-2);
    width: 55%;
    text-align: center;
}

.texto__ventana {
    font-family: var(--font-3);
    font-size: 1.1rem;
    font-weight: 200;
    width: 50%;
    min-height: 3.7rem;
    margin-bottom: 0.4rem;
    text-align: center;
}

.Texto_boton_primary, .Texto_boton_secundary, .Texto_boton_terciario {
    font-family: var(--font-4);
    font-size: 1.1rem;
    font-style: italic; 
    border-radius: 0.1rem;
    padding: 0.4rem 0.2rem;
    cursor: pointer;
    background-color: var(--color-1);
    width: 50%;
    margin-bottom: 0.5rem;
    text-align: center;
}

.Texto_boton_primary:hover, .Texto_boton_secundary:hover, .Texto_boton_terciario:hover {
    background-color: var(--color-3);
    color: var(--color-6);
}
.pie-de-pagina {
    font-family: var(--font-4);
    background-color: var(--color-1);
    padding: 1.2rem;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    -webkit-text-stroke: 0.5px var(--color-7);
    width: 100%;
}

@media (max-width: 900px) {
    .titulo1 {
        font-size: 2.5rem;
    }
    
    .parrafo__inicial {
        font-size: 1.5rem;
    }
    
    .texto__ventana {
        font-size: 1rem;
    }
    
    .Texto_boton_primary, .Texto_boton_secundary, .Texto_boton_terciario {
        font-size: 1rem;
    }
}











































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































